<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }} | Fripfrap</title>
        <meta name="description" content="The Website for Fripfrap Podcast">
        <meta name="viewport" content="width=device-width">
        <script src="http://use.edgefonts.net/open-sans:n3.js"></script>
        <script src="/js/modernizr.custom.60953.js"></script>
        <link rel="stylesheet" href="/css/main.min.css">
    </head>
    <body>
        <h1 class="t-site-title"><a class="ir" href="/">Fripfrap</a></h1>
        <div class="t-site-secondary t-grid--center">
          <h3 class="t-site-secondary-title t-gridcell-1-2">Front-end banter <small>in 30mins or less</small></h3>
          <nav class="t-site-nav t-gridcell-1-2">
            <a class="t-site-nav-item t-twitter-icon" data-icon="&#xE0001" href="http://twitter.com/fripfrap" title="Follow us on twitter"></a>
            <a class="t-site-nav-item t-video-icon" data-icon="&#xE0004" href="http://vimeo.com/fripfrap/videos/rss" title="Subscribe to vimeo video feed"></a>
            <a class="t-site-nav-item t-audio-icon" data-icon="&#xE0005" href="/audio.xml" title="Subscribe to just the audio feed"></a>
            <a class="t-site-nav-item t-audio-icon t-itunes-icon" data-icon="&#xE0003" href="itpc://fripfrap.io/audio.xml" title="Subscribe to the audio in iTunes"></a>
          </nav>
        </div>


        {{ content }}

        <aside>
          <div class="t-featuring-item t-avatarlist">
            <h2 class="t-h2 t-featuring-title ir">Featuring</h2>
            <a class="t-featuring-item t-avatar"
               href="http://twitter.com/divya">
               <b class="t-avatar-item t-avatar-name">Divya Manian</b>
               <img class="t-avatar-item t-avatar-image" src="https://twitter.com/api/users/profile_image/divya?size=bigger">
            </a>
            <b class="t-featuring-amp">&</b>
            <a class="t-featuring-item t-avatar"
               href="http://twitter.com/garannm">
               <img class="t-avatar-item t-avatar-image" src="https://twitter.com/api/users/profile_image/garannm?size=bigger">
               <b class="t-avatar-item t-avatar-name">Garann Means</b>
            </a>
          </div>
          <div class="t-featuring-item">
            <h2 class="t-h2">Music Credits</h2>
            <p class="t-featuring-content">Selections by <a href="http://twitter.com/ultror">Jonas Westerlund</a></p>
            <div class="t-creditlist t-grid--center">
              <div class="t-credit-item t-gridcell-1-2">
                <a class="t-credit-item-content" href="http://randsrecords.greedbag.com/buy/the-pathway-to-tiraquon/"><cite class="t-credit-songtitle">FEATURE PRESENTATION</cite>Space Dimension Controller</a>
              </div><div class="t-credit-item t-gridcell-1-2">
                <a class="t-credit-item-content" href="http://kaninerecords.com/the-depreciation-guild"><cite class="t-credit-songtitle">My Chariot</cite>The Depreciation Guild</a>
              </div>
            </div>
          </div>
          <div class="t-featuring-item t-copyright">
            <p class="t-featuring-content">&copy; MMXII<br>Divya Manian & Garann Means.</p>
            <p class="t-featuring-content">All videos released under <a href="http://creativecommons.org/licenses/by/3.0/">CC 3.0 license</a></p>
          </div>
        </aside>
        <script>
            var _gaq=[['_setAccount','UA-97188-3'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
